node_modules/*
.vscode/mcp.json
fetchLogsAndFillMongo.cjs
.env
.gitignore
public/assets/**
utils/fetchAllLogs.js
public/index.html
.codacy/**

#Ignore insiders AI rules
.github/instructions/codacy.instructions.md
